<div class="mb-6" role="banner" aria-label="{{ 'sylius.ui.home'|trans }}">
    <div class="overflow-hidden">
        <div class="d-flex justify-content-center align-items-center position-relative">
            <div class="pt-4 w-25" style="text-align: center;">
                <div class="fs-5 pb-2">¡Gracias por visitar <strong>VX Store</strong>!</div>
                <div class="fs-6">Si te interesa alguno de nuestros artículos, no dudes en <a href="{{ path('sylius_shop_contact_request') }}">contactarnos</a> para obtener más información sobre las condiciones de venta y entrega.</div>
                <div class="fs-6">Todos los artículos son de <strong>segunda mano</strong> pero en perfecto estado :)</div>
            </div>
        </div>
    </div>
</div>
